html,
body {
  font-family: 'Bree Serif', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 25%;
  float: left;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/*
{
  height: 100%;
  position: relative;
}
*/

h1, h4, p {
  color: #525454;
  padding: 10px 0 0 10px;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}
/*
{
  height: 100%;
  width: 75%;
  float: right;
}
*/
/*
{
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}
*/
#flckr-img {
  width: 350px;
  height: 250px;
}
