
/* styles/base/fonts.scss */
@font-face {
  font-family: 'carbonmade';
  src: url('../fonts/carbonmade.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'frontend';
  src: url('https://static.cmcdn.net/kits/142/fonts/frontend/frontend.woff');
  font-weight: normal;
  font-style: normal;
}

/* styles/base/variables.scss */
.variables {}

/* styles/base/mixins.scss */
.mixins {}

/* styles/base/reset.scss */
section,
aside,
div,
span,
p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
iframe,
object,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.stickyFooter {
  min-height: 100%;
  height: auto;
  margin-bottom: -4em;
}
.push,
footer { height: 4em; }
:focus { outline: 0; }
img { vertical-align: middle; }
a img { border: 0; }
a { text-decoration: none; }
a,
a:visited,
a:active { color: inherit; }
input,
textarea,
button { -webkit-appearance: none; }
object,
iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
carbon-piece,
carbon-container,
carbon-viewport,
carbon-image { display: block; }
carbon-container { position: relative; }
carbon-image { margin: 0 auto; }
main,
article,
footer,
nav,
header,
section {
  display: block;
  margin: 0;
  padding: 0;
}
aside {
  margin: 0;
  padding: 0;
}
template { display: none; }
svg { pointer-events: none; }

/* styles/base/typography.scss */
small { font-size: .75em; }
carbon-text {
  display: block;
  margin: 1rem auto;
  text-align: center;
  max-width: 600px;
}
carbon-caption {
  display: block;
  font-size: 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: auto;
  max-height: 700px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: #aaa;
  opacity: 1;
  z-index: 100;
}
carbon-caption ul,
carbon-caption ol {
  list-style-position: inside;
  font-size: 14px;
  line-height: 1.6em;
}
carbon-caption p {
  margin: 0;
  padding: .5em 0;
  text-align: center;
  line-height: 1.6em;
}

/* styles/base/animations.scss */
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutSlideOut {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}
@keyframes fadeOutSlideOut {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}
@-webkit-keyframes fadeNextIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeNextIn {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeNextOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
}
@keyframes fadeNextOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
  }
}
@-webkit-keyframes fadePrevIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadePrevIn {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadePrevOut {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}
@keyframes fadePrevOut {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    transform: translateX(60px);
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideIn {
  0% { transform: translateY(60px); }
  100% { transform: translateY(0); }
}
@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
}
@keyframes slideOut {
  0% { transform: translateY(0); }
  100% { transform: translateY(-60px); }
}

/* styles/base/structure.scss */
.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  max-width: 812px;
}
.container:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.rescue {
  text-align: center;
  margin-top: 15vmin;
}
.rescue a {
  border-bottom: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* styles/base/forms.scss */
.field { display: block; }
.field input,
.field textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: .625em;
  width: 100%;
}
.field input { line-height: 2em; }
.field textarea { resize: vertical; }
.field label { display: none; }
.field.invalid input,
.field.invalid textarea { border-bottom: solid 1px rgba(239, 100, 105, .4) !important; }
.field.focused input,
.field.focused textarea { border-bottom: solid 1px rgba(29, 175, 236, .6) !important; }
input:focus,
select:focus,
textarea:focus,
button:focus { outline: none; }
input,
textarea,
.button {
  border-radius: .125em;
  margin-bottom: 1em;
}
.button {
  background: #00aeef;
  border: 0;
  color: #fafafa;
  cursor: pointer;
  font-size: 1em;
  line-height: 3em;
  padding: 0 1.8125em;
  -webkit-transition: background .5s;
  transition: background .5s;
}
.button:focus,
.button:hover { background: #0795CA; }
.formWell {
  border-radius: .625rem;
  padding: 2rem;
}

/* styles/components/helpers.scss */
.col1 {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
.col2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.col3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.line { margin: 0 0 1em 0; }
.line:last-child { margin: 0; }
.block.textCenter { padding-left: 0em; }
.textLeft { text-align: left; }
.textCenter { text-align: center; }
.textRight { text-align: right; }
.textJustify { text-align: justify; }
.textNowrap { white-space: nowrap; }
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.textCenter ul,
.textCenter ol { list-style-position: inside; }
.listStyleCustom {
  list-style: none;
  padding-left: 0;
}
.listStyleCustom li:before {
  content: '\203A';
  padding-right: 0.3em;
}
.listStyleCustom.list-inline li { padding-right: 0.5em; }
.listUnstyled {
  list-style: none;
  padding-left: 0;
}
.listInline { padding-left: 0; }
.listInline li:last-child:after { content: none !important; }
.listInline li {
  display: inline-block;
  padding-right: 0.15em;
}
.listInline.divided.comma li:after { content: ', '; }
.listInline.divided.custom li:after {
  content: '\00b7';
  padding: 0 .1em 0 .5em;
}
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
}

/* styles/components/paginator.scss */
.paginator {
  display: table;
  width: 100%;
}
.paginator .newer,
.paginator .older {
  display: table-cell;
  padding: 0 6px;
  width: 50%;
}
.paginator .older { text-align: right; }

/* styles/components/player.scss */
@font-face {
  font-family: 'player';
  src: url('https://static.cmcdn.net/kits/106/fonts/player/player.woff');
  font-weight: normal;
  font-style: normal;
}
carbon-player {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'player';
}
carbon-player.video { background: #000; }
carbon-player.standard {
  width: 768px;
  height: 432px;
}
carbon-player.big {
  width: 960px;
  height: 540px;
}
carbon-player.hd {
  width: 1280px;
  height: 720px;
}
carbon-player.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
carbon-player > video,
carbon-player > audio {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  visibility: hidden;
}
carbon-player.played > video { visibility: visible; }
video::-webkit-media-controls-panel { display: none; }
carbon-player > .fallback {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #000;
  color: #fff;
  text-align: center;
}
carbon-player.fallback > .fallback { display: block; }
carbon-player.fallback > .fallback > h2 { margin-top: 20%; }
carbon-player > .posterPlay {
  background-color: rgba(239, 239, 239, 0.9);
  position: absolute;
  width: 136px;
  height: 136px;
  top: 50%;
  left: 50%;
  margin: -68px 0 0 -68px;
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
  z-index: 3;
  text-align: center;
  font-size: 136px;
  line-height: 136px;
  text-indent: 2px;
  -webkit-transition: background 0.2s, opacity 0.2s;
  transition: background 0.2s, opacity 0.2s;
}
carbon-player > .posterPlay:before {
  content: '\e600';
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
carbon-player.played > .posterPlay { display: none; }
carbon-player > .poster,
carbon-player > .artwork,
carbon-player > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
carbon-player > .poster,
carbon-player > .artwork {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
carbon-player > .poster {
  cursor: pointer;
  background-color: #000;
}
carbon-player.played > .poster { display: none; }
carbon-player > .overlay { background: linear-gradient(to bottom, rgba(10, 10, 10, .05) 40%, rgba(10, 10, 10, 0.5) 100%); }
carbon-player .control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  background: rgba(26, 26, 26, .2);
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
carbon-player .control:hover { background: rgba(0, 174, 239, 0.8); }
carbon-player > carbon-controls {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
carbon-player.played.hovering > carbon-controls,
carbon-player.played.scrubbing > carbon-controls { opacity: 1; }
carbon-player.played.hoverIdle > carbon-controls { opacity: 0; }
carbon-player.audio > carbon-controls,
carbon-player.audio.played.hoverIdle > carbon-controls { opacity: 1; }
carbon-player > carbon-controls .box {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
carbon-player.scrubbing > carbon-controls > .box,
carbon-player.scrubbing > carbon-controls > .playToggle { opacity: 0; }
carbon-player.fullscreen > carbon-controls > .box { bottom: 9%; }
carbon-player.hoveringTrack > carbon-controls > .box,
carbon-player.hoveringTrack > carbon-controls > .playToggle { opacity: 0; }
carbon-player .playToggle {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.2s, background 0.2s;
  transition: opacity 0.2s, background 0.2s;
}
carbon-player .playToggle:before { content: '\e600'; }
carbon-player.hovering .playToggle { opacity: 1; }
carbon-player.playing .playToggle:before { content: '\e601'; }
carbon-player.audio .playToggle { opacity: 1 !important; }
carbon-player carbon-scrubber {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
  z-index: 3;
}
carbon-player carbon-scrubber > .track {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.15);
  left: 0;
  cursor: pointer;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
carbon-player carbon-scrubber:hover > .track { height: 12px; }
carbon-player.waiting carbon-scrubber > .track { background: url('https://static.cmcdn.net/kits/124/player2/images/buffering.gif'); }
carbon-player.waiting.scrubbing carbon-scrubber > .track { background: none; }
@-webkit-keyframes bufferAnimation {
  0% { opacity: 1; }
  50% { opacity: .6; }
  100% { opacity: 1; }
}
@keyframes bufferAnimation {
  0% { opacity: 1; }
  50% { opacity: .6; }
  100% { opacity: 1; }
}
carbon-player.loading .playToggle {
  -webkit-animation: bufferAnimation 2s ease-in-out infinite;
  animation: bufferAnimation 2s ease-in-out infinite;
}
carbon-player.paused .playToggle,
carbon-player.playing .playToggle {
  -webkit-animation: none;
  animation: none;
}
carbon-player carbon-scrubber > .track > .bufferedBar,
carbon-player carbon-scrubber > .track > .playedBar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  bottom: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transition: border-radius 0.1s;
  transition: border-radius 0.1s;
}
carbon-player carbon-scrubber > .track > .playedBar { background: #00aeef; }
carbon-player carbon-scrubber > .track > .playedBar.end,
carbon-player carbon-scrubber > .track > .bufferedBar.end {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
carbon-player time {
  position: absolute;
  text-rendering: optimizeLegibility;
  font-size: 12px;
  cursor: default;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  bottom: 14px;
  opacity: 0;
}
.collapsed carbon-player time { text-shadow: none; }
carbon-player time.total {
  right: 0;
  -webkit-transition: color .2s;
  transition: color .2s;
}
carbon-player time.current {
  left: 0;
  -webkit-transition: opacity 0.2s, color 10s;
  transition: opacity 0.2s, color 10s;
}
carbon-player carbon-scrubber:hover > time.current,
carbon-player.scrubbing carbon-scrubber > time.total { opacity: 1; }
carbon-player.video time.total { display: none; }
carbon-player.audio time.current,
carbon-player.audio time.total {
  bottom: 0px;
  opacity: 1 !important;
}
carbon-player.audio time.current { left: 0 !important; }
carbon-player .muteToggle {
  display: inline-block;
  background: rgba(26, 26, 26, .2);
}
carbon-player .muteToggle:before { content: '\e604'; }
carbon-player.muted .muteToggle:before { content: '\e605'; }
carbon-player .fullscreenToggle {
  display: inline-block;
  display: none;
  margin-bottom: 10px;
}
carbon-player .fullscreenToggle:before { content: '\e602'; }
carbon-player.fullscreen .fullscreenToggle:before { content: '\e603'; }
carbon-player.supportsFullscreen .fullscreenToggle { display: block; }
carbon-player.hoverIdle * { cursor: none; }
carbon-waveform {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: .8;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
carbon-waveform > .bar {
  position: absolute;
  bottom: 0;
  -webkit-transition: background 2s linear;
  transition: background 2s linear;
}
carbon-waveform > .bar.fill { background-color: #00aeef; }
carbon-player.hoveringTrack carbon-waveform > .bar {
  -webkit-transition: none !important;
  transition: none !important;
}
carbon-player.playing carbon-waveform,
carbon-player.hoveringTrack carbon-waveform { opacity: 1; }
carbon-controls,
carbon-waveform { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
carbon-player.audio .playToggle {
  left: 3.125%;
  bottom: 30px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
carbon-player.audio carbon-scrubber {
  position: absolute;
  width: calc(93.75% - 65px);
  height: 50px;
  left: calc(3.125% + 65px);
  bottom: 25px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
carbon-waveform { bottom: 20px; }
.collapsed {
  max-height: 90px;
  height: 90px;
}
.collapsed carbon-player.audio .playToggle { bottom: 5px; }
.collapsed carbon-player.audio carbon-scrubber { bottom: 0px; }

/* styles/components/thumbs.scss */
.thumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.thumb {
  display: block;
  margin-bottom: 2em;
  position: relative;
}
.thumbImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid rgba(0, 0, 0, 0);
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: auto;
  margin-bottom: .5em;
  margin-left: -4px;
  padding-bottom: 17.9487%;
  width: 100%;
}
.twoUp .thumbImg { padding-bottom: 37.33333%; }
.threeUp .thumbImg { padding-bottom: 58.33333%; }
.thumbInfo {
  margin: 0 auto;
  max-width: 100%;
}
.thumbInfo h3,
.thumbInfo p {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.thumbInfo h3 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: -0.02em;
}
.thumbInfo p {
  font-size: 1em;
  margin: 0;
}
.newBug {
  display: block;
  position: absolute;
  top: 4px;
  width: 46px;
  height: 46px;
}
.textHidden .newBug,
.textBelow .newBug {
  background: url('../images/icn_new.png') no-repeat;
  left: 0;
}
.textBelow { text-align: center; }
.textInside .thumbInfo h3,
.textInside .thumbInfo p {
  color: #ddd;
  background: rgba(0, 0, 0, .6);
  padding: .25em;
}
.textInside .thumbInfo h3 { margin-bottom: .25em; }
.textInside .thumbInfo {
  left: .625em;
  position: absolute;
  margin-right: .625em;
  max-width: 90%;
  top: .625em;
}
.textInside .newBug {
  background: url('../images/icn_new-over.png') no-repeat;
  right: 0;
}

/* styles/components/zoomer.scss */
#zoomer {
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#zoomer.open {
  visibility: visible;
  opacity: 1;
}
#zoomer.closing { pointer-events: none; }
#zoomer.closed {
  pointer-events: none;
  -webkit-transition: background 0.1s ease, visibility 0 ease 0.2s;
  transition: background 0.1s ease, visibility 0 ease 0.2s;
  background: transparent;
}
.zoomable {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
carbon-grid {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* styles/parts/header.scss */
header.container {
  display: table;
  margin-bottom: 2em;
  width: 100%;
}
header.container .logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  font-size: 0;
  margin: 0;
  max-width: 100%;
  text-indent: -9999px;
}
header.noShadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 0;
}
.logoContainer,
.navContainer {
  display: table-cell;
  vertical-align: middle;
}
.logoContainer { max-width: 600px; }
.navContainer {
  font-size: .875em;
  text-align: right;
}
.navContainer ul { margin: 1.55em 0; }
.navContainer li:nth-child(n+2) { margin-left: 1.8125em; }
.siteTitle {
  display: inline;
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 1rem 0;
  position: relative;
}
.siteTitle:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -26px;
  width: 14px;
  height: 14px;
  margin: auto 0;
}

/* styles/parts/footer.scss */
footer .container { padding: 1em; }
.footerCell {
  font-size: .75em;
  line-height: 2em;
  text-align: center;
  width: 100%;
}
carbon-glyph {
  font: 30px / 0 'frontend';
  margin: 0 -7px;
  position: relative;
  top: 8px;
}

/* styles/parts/post.scss */
.post {
  margin: 4em 0 6em;
  position: relative;
  text-align: center;
}
.post carbon-grid {
  display: block;
  position: relative;
}
.postHeader,
.postBody,
.postTags { margin: 1em 0; }
.tag { opacity: .8; }
.tag:hover { opacity: 1; }
.tag:before {
  content: '#';
  opacity: .4;
}
.postHeader time { font-size: .8em; }
.postHeader a:hover { text-decoration: underline; }

/* styles/parts/flipbook.scss */
#flipbook {
  padding: 0 .625em;
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#flipbook h1 {
  max-width: 940px;
  height: 80px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 80px;
  text-align: center;
}
#flipbook.noTitle h1 { height: 30px; }
#flipbook > .viewport .content {
  width: 50000%;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#flipbook > .viewport {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 520px;
  margin-bottom: .625em;
}
#flipbook .slide {
  position: relative;
  float: left;
  width: 0.2%;
  height: 100%;
  text-align: center;
  z-index: 111;
}
#flipbook carbon-piece > .mediaPlayer { margin: auto; }
#flipbook carbon-piece > .artwork.swf {
  max-width: 960px;
  margin: auto;
}
#flipbook carbon-piece > .artwork.page { background: #fff !important; }
#flipbook carbon-piece > .artwork {
  max-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
#flipbook carbon-piece {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
#flipbook carbon-player {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
#flipbook.captionsBelow carbon-container.hasArtwork { height: auto; }
#flipbook.captionsBelow .video carbon-piece .played carbon-caption {
  display: block;
  opacity: 1;
}
#flipbook .video carbon-piece { max-width: 960px; }
#flipbook .video carbon-piece carbon-caption.hovering { z-index: 100; }
#flipbook .video carbon-piece .played carbon-caption {
  display: none;
  opacity: 0;
}
.stage.noThumbs #thumbnails { display: none; }
#thumbnails {
  margin: 0 -.625rem;
  border-radius: 0 0 .625em .625em;
  padding: 1rem .625rem;
}
#thumbnails .leftFade {
  display: none;
  position: absolute;
  top: 0;
  left: 10px;
  width: 30px;
  height: 105px;
  background: linear-gradient(to right, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 1) 90%);
  z-index: 999;
}
#thumbnails .rightFade {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 105px;
  background: linear-gradient(to left, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 1) 90%);
  z-index: 999;
}
#thumbnails .viewport .set {
  display: block;
  position: relative;
  text-align: center;
  float: left;
  font-size: 0;
}
#thumbnails .viewport .content {
  position: relative;
  width: 50000px;
  height: 60px;
  white-space: nowrap;
}
#thumbnails .viewport .thumb img {
  display: block;
  height: 80px;
}
#thumbnails .viewport .thumb:hover { opacity: 0.9; }
#thumbnails .viewport .thumb.selected { opacity: 0.8; }
#thumbnails .viewport .thumb .empty {
  display: block;
  width: 80px;
  height: 80px;
  background: #ccc;
}
#thumbnails .viewport .thumb {
  position: relative;
  margin: 0;
  background: #111;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 0.4;
}
#thumbnails .viewport .video:after {
  font: 28px / 28px 'player';
  content: '\e600';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 28px;
  height: 28px;
  margin: auto;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
#thumbnails .viewport { overflow: hidden; }
#thumbnails .viewport { height: 80px; }
#thumbnails.noSets .viewport { margin: 0 auto; }
.project.container.wide #flipbook > .viewport,
.project.container.wide #flipbook carbon-flipper { height: 627px; }

/* styles/parts/gallery.scss */
carbon-gallery carbon-flipper:after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(28, 28, 28, 0.1);
}
carbon-gallery carbon-flipper:hover:after {
  color: rgba(255, 255, 255, 1);
  background: rgba(28, 28, 28, 0.2);
  display: block;
}
carbon-gallery carbon-flipper.prev:after {
  background: url('../images/light-gallery_arrow_l.png') no-repeat;
  margin: auto 0 auto 20px;
  left: 0;
}
carbon-gallery carbon-flipper.prev { left: 0; }
carbon-gallery carbon-flipper.next:after {
  background: url('../images/light-gallery_arrow_r.png') no-repeat;
  margin: auto 20px auto 0px;
  right: 0;
}
carbon-gallery carbon-flipper.next { right: 0; }
carbon-gallery carbon-flipper {
  display: block;
  position: fixed;
  cursor: pointer;
  z-index: 999;
}
carbon-gallery .spinner.visible { display: block; }
carbon-gallery .spinner {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 41px;
  height: 41px;
  margin: auto;
  background: url('../images/loading.png') no-repeat;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
  z-index: 2;
}
carbon-gallery .thumbnailsWrapper { margin: 0 10px; }
.thumbnails { opacity: 0; }
.thumbnails ul {
  margin: 0;
  padding: 0;
}
.thumbnails li.empty { background: rgba(255, 255, 255, 0.35); }
.thumbnails li.selected { opacity: 1; }
.thumbnails li {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.thumbnails.loaded { opacity: 1; }
.thumbnails.centered { text-align: center; }

/* styles/blocks/availability.scss */
#availability .note { display: block; }
#availability .status { display: inline-block; }

/* styles/blocks/blocks.scss */
.block {
  line-height: 1.25em;
  margin-bottom: 1rem;
}
.block h2,
.block h4 { font-weight: 400; }
.block h2 {
  font-size: 1.625em;
  letter-spacing: -1px;
}
.block h4 {
  font-size: .625rem;
  line-height: 3;
}
.block p,
.block ul,
.block ol,
.block label {
  font-size: .8125rem;
  margin: 0 0 1em;
}
.block a { border-bottom: 1px solid transparent; }

/* styles/blocks/links.scss */
.listStyleSocial {
  padding: 2em 0;
  font-family: 'social';
  padding-left: 0;
  list-style: none;
  line-height: 1;
}
.listStyleSocial li a:before {
  font-size: 2em;
  padding-right: 0.2em;
}
.listStyleSocial li a span {
  display: table-cell;
  vertical-align: middle;
}
.listStyleSocial li a {
  display: table;
  padding: 0.2em 0;
  border-bottom: none;
}

/* styles/pages/about.scss */
.profileImg {
  margin: 0 0 1rem;
  max-width: 16em;
  text-align: center;
}
.profileImg img { max-width: 100%; }

/* styles/pages/contact.scss */
.availability {
  border-bottom: 1px solid transparent;
  margin: 3em 0;
  padding-bottom: 3em;
  text-align: center;
}
.availability .now { color: #67b038; }
.availability .soon { color: #ecaa0c; }
.availability .note { margin-left: 6px; }
#address p {
  font-size: 1.015em;
  line-height: normal;
}
.contactDetails { margin-top: 3em; }
#contactForm .guts { position: relative; }
#submitGuts,
#confirmedGuts {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
#confirmedGuts {
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-1em);
  -webkit-transform: translateY(-1em);
  transform: translateY(-1em);
  visibility: hidden;
  width: 100%;
}
.valid.sent #submitGuts {
  opacity: 0;
  visibility: hidden;
}
.valid.sent #confirmedGuts {
  opacity: 1;
  visibility: visible;
}
.contact a { border: 0; }

/* styles/pages/project.scss */
.project.container.wide { max-width: 1012px; }
carbon-piece { padding-bottom: .625em; }
.projectWell {
  border-radius: .625rem;
  margin-bottom: 1.5em;
}
.projectTitle {
  border-radius: .625rem .625rem 0 0;
  font-weight: 400;
  padding: .625rem;
  text-align: center;
}
.projectPieces,
.projectDetail { padding: 0 .625em; }
.projectDetail {
  border-bottom: 1px solid transparent;
  padding: 1rem 0;
}
.projectDetail:last-child { margin-bottom: 3.75em; }
.projectDetailHead,
.projectDetailBody { padding: 0 3px; }
.projectDetailHead { font-size: .6875em; }
.projectDetailBody { font-size: .8125em; }
.projectDetailBody p { margin: 0; }
.urlLink {
  color: #6CC3F4 !important;
  border-bottom: 1px solid rgba(108, 195, 244, 0.3);
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
.urlLink:hover {
  color: #6CC3F4 !important;
  border-bottom: 1px solid rgba(108, 195, 244, 0.6);
}

/* styles/pages/privacy.scss */
.private.container {
  height: 100%;
  max-width: 600px;
  padding: 0;
}
.private.container h2 {
  font-size: 1.125em;
  margin: 0 0 2rem;
  font-weight: 400;
  text-align: center;
}
.private.container button {
  float: left;
  margin-bottom: 0;
}
.private.container .message {
  display: inline-block;
  margin-bottom: 1rem;
}
.private.container .requestAccess {
  float: right;
  margin: 16px 0 13px;
  cursor: pointer;
}
#unlockBlock,
#requestAccessBlock {
  padding: 1em;
  position: absolute;
  top: 15vmin;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  width: 100%;
}
#unlockBlock {
  opacity: 1;
  visibility: visible;
}
#unlockBlock.hide {
  opacity: 0;
  visibility: hidden;
}
#requestAccessBlock {
  opacity: 0;
  visibility: hidden;
}
#requestAccessBlock .field:last-of-type label { display: none; }
#requestAccessBlock.show {
  opacity: 1;
  visibility: visible;
}
#requestAccessBlock.requestSent form {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
#requestAccessBlock.show .formSent {
  opacity: 0;
  visibility: hidden;
}
#requestAccessBlock.requestSent .formSent {
  opacity: 1;
  text-align: center;
  visibility: visible;
}

/* styles/media/phone.scss */
@media screen and (min-width: 400px) {
  .line.tabbed { padding-left: 5rem; }
  .line.tabbed label {
    float: left;
    margin-left: -5rem;
    width: 4rem;
  }
  footer .container {
    display: table;
    width: 100%;
  }
  .footerCell {
    display: table-cell;
    width: 50%;
    text-align: left;
  }
  .footerCell:last-child { text-align: right; }
  .footerCell:only-child { text-align: left; }
}

/* styles/media/tablet.scss */
@media screen and (min-width: 500px) {
  .twoUp .thumb,
.threeUp .thumb { float: left; }
  .twoUp .thumb.last,
.threeUp .thumb.last {
    margin-right: 0;
    float: right;
  }
  .last + .thumb { clear: right; }
  .twoUp .thumb {
    margin-right: 30px;
    width: calc(50% - 15px);
  }
  .twoUp .thumbImg { padding-bottom: 37.33333%; }
  .twoUp .thumbInfo h3 { font-size: 1.125em; }
  .threeUp .thumb {
    margin-right: 30px;
    width: calc(33.333% - 20px);
  }
  .threeUp .thumbImg { padding-bottom: 58.33333%; }
  .threeUp .thumbInfo h3 { font-size: 1em; }
  .textInside .thumbInfo p { font-size: .75em; }
  .tabbed .block h4 {
    text-overflow: ellipsis;
    float: left;
    margin-left: -10em;
    width: 9em;
  }
  .tabbed .block { padding-left: 10em; }
  .projectDetail {
    display: table;
    width: 100%;
  }
  .projectDetailHead,
.projectDetailBody { display: table-cell; }
  .projectDetailHead { width: 11.25rem; }
  .projectDetailBody { width: calc(100% - 11.25rem); }
  #unlockBlock,
#requestAccessBlock { top: 4rem; }
}
@media screen and (min-width: 600px) {
  .aboutMain {
    float: left;
    padding-right: 2.5rem;
    width: 67%;
  }
  .aboutSidebar {
    float: right;
    width: 33%;
  }
  .aboutSidebar:after {
    content: '';
    clear: both;
    display: table;
  }
  .profileImg { margin: 0 auto 1rem; }
  .field.name,
.field.email {
    float: left;
    margin-right: 1rem;
    width: calc(50% - .5rem);
  }
  .field.last:after {
    content: '';
    clear: both;
    display: table;
  }
  .field.last {
    float: right;
    margin-right: 0;
  }
}

/* styles/media/desktop.scss */
.desktop {}